page-doctor-dashoard {
    .qr-code {
        margin-top: 80px;
    }
    img {
        width: 200px;
        margin-left: 10%;
    }
    .qr-code-button {
        float: right;
    }

    @media screen and (min-width: 650px) {
        img {
            margin-left: 25%;
        }
    }

    .item {
        .label {
            margin: 0px !important;
            padding-top: 20px !important;
        }   
    }
}

.contact-popover .popover-content{ width: 320px; height: 420px}
