<ion-header>

  <ion-navbar color="primary">
    <ion-title>Doctor Dashoard</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge *ngIf="notificationsCount > 0" style="position: absolute;background: none;color: white; top: 0px;left: 14px" >{{notificationsCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
      <ion-card>
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label>Doctor Profile</label>
              </ion-header>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">First name</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.name[0].given[0]}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Family name</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.name[0].family}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Gender</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.gender}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Date of Birth</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.birthDate}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Address Line 1</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].line[0]}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Address Line 2</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].line[1]}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">City</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].city}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">State</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].state}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Area Code</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].postalCode}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Country</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].country}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Department</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.department}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Hospital</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.hospital}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card style="margin-top: 25px;">
        <ion-row>
          <ion-col col-12>
            <ion-row margin>
              <ion-header padding>
                <label>Generate QR Code</label>
              </ion-header>
            </ion-row>
            <ion-row style="padding-top:50px">
              <ion-col col-12>
                <div style="max-width: 60%">Click here to generate QR Code to provide access to the patients</div>
                <button style="margin-top: -40px;" ion-button color="primary" (click)="getDoctorAddress()" class="qr-code-button">Generate</button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col id="qrContainer" col-12 class="qr-code" ng-show="showQRCode">
                <qrcode ng-show="showQRCode" [qrdata]="myAngularxQrCode" [size]="50" [level]="'M'"></qrcode>
              </ion-col>
              <ion-col col-12 style="margin-top: 20px;text-align: center;">
                {{myAngularxQrCode}}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
      <ion-card>
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label>Get Patient Details</label>
                <button ion-button color="default" class="pull-right" (click)="getPatientList()">Get Patient List</button>
              </ion-header>
            </ion-row>

            <ion-list *ngIf="doctorAccessList">
              <ion-item text-wrap *ngFor="let user of doctorAccessList">
                <div>
                  {{user.name}}
                  <button ion-button clear="true" color="default" class="pull-right" (click)="getPatientInfo(user.Account)">View
                    Details
                  </button>
                </div>

              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card *ngIf="patientDetails">
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label> Patient Details</label>
                <button ion-button color="default" class="pull-right" (click)="getPatientFile()">Get File</button>
              </ion-header>
            </ion-row>


            <ion-row style="padding-top: 10px;">
              <ion-col col-12>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">First name</ion-col>
                  <ion-col col-12 col-md-6>{{patientDetails.name[0].given[0]}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">Family name</ion-col>
                  <ion-col col-12 col-md-6>{{patientDetails.name[0].family}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">Gender</ion-col>
                  <ion-col col-12 col-md-6>{{patientDetails.gender}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">Date of Birth</ion-col>
                  <ion-col col-12 col-md-6>{{patientDetails.birthDate}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">Address Line 1</ion-col>
                  <ion-col col-12 col-md-6>{{patientDetails.address[0].line[0]}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">Address Line 2</ion-col>
                  <ion-col col-12 col-md-6>{{patientDetails.address[0].line[1]}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">City</ion-col>
                  <ion-col col-12 col-md-6>{{patientDetails.address[0].city}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">State</ion-col>
                  <ion-col col-12 col-md-6>{{patientDetails.address[0].state}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">Area Code</ion-col>
                  <ion-col col-12 col-md-6>{{patientDetails.address[0].postalCode}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">Country</ion-col>
                  <ion-col col-12 col-md-6>{{patientDetails.address[0].country}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">Get Visit Details</ion-col>
                  <ion-col col-12 col-md-6>
                    <button style="padding: 0; height: auto;font-size: 1.2rem;" ion-button clear="true" color="default"  (click)="getPatientVisits(patientDetails)">Patient
                      Visits</button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">Get History</ion-col>
                  <ion-col col-12 col-md-6>
                    <button style="padding: 0; height: auto;font-size: 1.2rem;" ion-button clear="true" color="default" (click)="getPatientHistory()">Patient
                      History</button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-md-6 class="ionic-label">View Prescriptions</ion-col>
                  <ion-col col-12 col-md-6>
                    <button style="padding: 0; height: auto;font-size: 1.2rem;" ion-button clear="true" color="default" (click)="showPrescriptionView()">Prescriptions</button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="getVisits">
    <ion-col col-12>
      <ion-card>
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label>Patient consultation history</label>
              </ion-header>
            </ion-row>
            <ion-row *ngIf="getVisits" padding>
              <ion-col col-12 *ngIf="!visitList || visitList.length == 0;else visits">
                No records available on the patient visits.
              </ion-col>
              <ng-template #visits>
                <ion-col col-3>
                  <b>Start Date</b>
                </ion-col>
                <ion-col col-3>
                  <b>End Date</b>
                </ion-col>
                <ion-col col-3>
                  <b>Location</b>
                </ion-col>
                <ion-col col-3>
                  <b>Consulted with:</b>
                </ion-col>
                <ion-row padding *ngFor="let visit of visitList; let i=index" style="border-bottom: 1px solid lightgray; padding-bottom:5px; width: 100%;">
                  <ion-col col-3>
                    {{visit.period.start}}
                  </ion-col>
                  <ion-col col-3>
                    {{visit.period.end}}
                  </ion-col>
                  <ion-col col-3>
                    {{visit.location && visit.location.length ? visit.location[0].location.display: ''}}
                  </ion-col>
                  <ion-col col-3>
                    {{visit.participant && visit.participant.length ? visit.participant[0].individual.display.split('(')[0]: ''}}
                  </ion-col>
                </ion-row>
              </ng-template>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="showDetails">
    <ion-col col-12>
      <ion-card>
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label>Get Patient Medical Treatment History</label>
              </ion-header>
            </ion-row>
            <ion-col col-12 *ngIf="!observationDetails || observationDetails.length == 0">
              <div style="padding: 10px 16px 0px 16px;">
                No history data available.
              </div>
            </ion-col>
            <ion-col col-12 *ngIf="observationDetails && observationDetails.length > 0">
              <ion-row>
                <ion-col col-2>
                  <b>ACTIVITY</b>
                </ion-col>
                <ion-col col-3>
                  <b>ANALYSIS</b>
                </ion-col>
                <ion-col col-2>
                  <b>RESULTS</b>
                </ion-col>
                <ion-col col-3>
                  <b>COMMENTS</b>
                </ion-col>
                <ion-col col-2>
                  <b>DATE</b>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-12 *ngFor="let obs of observationDetails; let i=index;">
              <ion-row>
                <ion-col col-2>
                  {{obs.resource.resourceType}}
                </ion-col>
                <ion-col col-3>
                  <div *ngIf="obs.resource && obs.resource.code && obs.resource.code.coding && obs.resource.code.coding.length">
                    <ion-col col-12>
                      {{obs.resource.code.coding[obs.resource.code.coding.length-1].display}}
                    </ion-col>
                  </div>
                </ion-col>
                <ion-col col-2>
                  <div *ngIf="obs.resource && obs.resource.valueCodeableConcept && obs.resource.valueCodeableConcept.coding && obs.resource.valueCodeableConcept.coding.length">
                    <ion-col col-12>
                      {{obs.resource.valueCodeableConcept.coding[obs.resource.valueCodeableConcept.coding.length-1].display}}
                    </ion-col>
                    </div>
                  <div *ngIf="obs.resource && obs.resource.valueQuantity">
                    <ion-col col-12>
                      {{obs.resource.valueQuantity.value}} {{obs.resource.valueQuantity.unit}}
                    </ion-col>
                  </div>
                </ion-col>
                <ion-col col-3>
                  <div>{{obs.resource.comment}}</div>
                </ion-col>
                <ion-col col-2>
                  <div>{{obs.resource.effectiveDateTime}}</div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <prescription *ngIf="showPrescriptions && patientDetails" [userDetails] = "patientDetails" [isDoctor]="true" [selectedEmr] = "selectedEmr"></prescription>
</ion-content>
