<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Healthereum</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="card-background-page">
  <div style="height: 50%; text-align: center;margin: 0px 40px;padding-top: 100px;">
    <img src="assets/imgs/dwellize.png" />
    <div>
      Using Data Science to Focus on Wellizing Healthcare data
    </div>
  </div>
  <ion-grid style="background: linear-gradient(103deg, #645dd8 0%, #2dcca5 100%);margin-top: 50px; padding: 20px;">

    <h3>Vision</h3>
    <div>
      DWellize will revolutionize the healthcare decision making by providing data science backboned software solutions
      that account for the impacts of both clinical therapies, social determinants and other factors that impact
      performance in a value-based healthcare environment.
    </div>
    <h3>Mission</h3>
    <div>
      Our mission is to address the need for data science based evidence to support assessments of impacts of clinical
      therapies and social determinants on patient outcomes in a value-based healthcare environment.
    </div>
  </ion-grid>

</ion-content>