 .card-background-page {

    ion-card {
      position: relative;
      min-height: 450px;
    }
    .doctor-card {
        background-color: #546e7a;
        .card-title, .card-subtitle {
            color: #fff;
          }
    }
  
    .card-title {
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #000;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      top: 52%;
      width: 100%;
      color: #000;
      padding: 20px;
    }

    .text-center {
      text-align: center;
    }
  
  }
.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}