<div class="row mllayout">
  <div class="col-md-12">
    <div class="page-title">
      <h1>My activity log</h1>
    </div>
    <div *ngIf="activity">
    <!--Grant-->
    <div class="col-12 text-center detailtable pb-4 border-bottom pt-4" *ngIf="!activity.accessGranted || (activity.accessGranted && activity.accessGranted.length === 0)">
      You have not recently granted access to doctors
    </div>
    <div class="detailtable" *ngIf="activity && activity.accessGranted && activity.accessGranted.length > 0">
      <div class="row mt-30 border-bottom ml-0 mr-0">
        <div class="col-9 pl-0">
          <h3 class="dethead">You have given access to : </h3>
        </div>
      </div>
      <div class="table-responsive" *ngIf="activity.accessGranted && activity.accessGranted.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Doctor</th>
              <th scope="col">Doctor Public Address</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of activity.accessGranted">
              <td>{{item.name}}</td>
              <td>{{item.doctor}}</td>
              <td>{{item.time | date: 'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Revoke-->
    <div class="col-12 text-center detailtable  pb-4 border-bottom pt-4" *ngIf="!activity.accessRevoked || (activity.accessRevoked && activity.accessRevoked.length === 0)">
      You have not recently revoked access from doctors
    </div>
    <div class="detailtable" *ngIf="activity && activity.accessRevoked && activity.accessRevoked.length > 0">
      <div class="row mt-30 border-bottom  ml-0 mr-0">
        <div class="col-9 pl-0">
          <h3 class="dethead">You have revoked access from : </h3>
        </div>
      </div>
      <div class="table-responsive" *ngIf="activity.accessRevoked && activity.accessRevoked.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Doctor</th>
              <th scope="col">Doctor Public Address</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of activity.accessRevoked">
              <td>{{item.name}}</td>
              <td>{{item.doctor}}</td>
              <td>{{item.time | date: 'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Grant Nomination-->
    <div class="col-12 text-center detailtable  pb-4 border-bottom pt-4" *ngIf="!activity.nominationGranted || (activity.nominationGranted && activity.nominationGranted.length === 0)">
      You have not given delegation to users
    </div>
    <div class="detailtable" *ngIf="activity && activity.nominationGranted && activity.nominationGranted.length > 0">
      <div class="row mt-30 border-bottom  ml-0 mr-0">
        <div class="col-9 pl-0">
          <h3 class="dethead">You have given delegation to : </h3>
        </div>
      </div>
      <div class="table-responsive" *ngIf="activity.nominationGranted && activity.nominationGranted.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">User Public Address</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of activity.nominationGranted">
              <td>{{item.name}}</td>
              <td>{{item.nominee}}</td>
              <td>{{item.time | date: 'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Revoke Nomination-->
    <div class="col-12 text-center detailtable  pb-4 border-bottom pt-4" *ngIf="!activity.nominationRevoked || (activity.nominationRevoked && activity.nominationRevoked.length === 0)">
      You have not revoked delegation from users
    </div>
    <div class="detailtable" *ngIf="activity && activity.nominationRevoked && activity.nominationRevoked.length > 0">
      <div class="row mt-30 border-bottom  ml-0 mr-0">
        <div class="col-9 pl-0">
          <h3 class="dethead">You have revoked delegation from : </h3>
        </div>
      </div>
      <div class="table-responsive" *ngIf="activity.nominationRevoked && activity.nominationRevoked.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">User Public Address</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of activity.nominationRevoked">
              <td>{{item.name}}</td>
              <td>{{item.nominee}}</td>
              <td>{{item.time | date: 'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>