<!--
  Generated template for the AboutUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>
      Blockchain backboned access management
  </h3>
  <div>
      Healthereum leverages the potential of blockchain to alleviate one of the major challenges of the industry: the transmission of patient data across geographies without compromising its privacy and security We have developed a system which ensures that the ownership of data resides with the person who owns it and can be shared only upon his or her consent and the system can be tweaked or tailored to match any requirement as well.
  </div>
  <div style="text-align: center; padding-top: 20px;">
      <img src="assets/imgs/blockchain.svg" width="400"/>
  </div>
</ion-content>
