<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center" *ngIf="router == '/'">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> -->
<mat-toolbar color="primary">
  <mat-toolbar-row class="henav-bg">
    <a class="main-logo">Healthereum</a>
    <div style="right: 30px; position: absolute;" *ngIf="isLoggedIn$ | async">
        <img width="20"  src="../assets/imges/iconfinder_bell_2199103.png" class="mr-2">
        <button mat-button [matMenuTriggerFor]="menu">
            <img width="30" src="../assets/imges/iconfinder_avatar_4030752.png" class="ml-2">
        </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()" >Logout</button>
          </mat-menu>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['/signin']">Log out</a>
          </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <!-- <mat-sidenav mode="side" opened>-->
      <app-side-nav></app-side-nav>
    <!--</mat-sidenav> -->
  <mat-sidenav-container>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>