<mat-sidenav mode="side" [opened]="isLoggedIn$ | async">
  <div class="sidebarnav mt-30">
    <div *ngIf="userType$ | async as user">
      <div class="sidebaropt">
        <a [routerLink]="['/home']">My Profile</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'patient'">
        <a [routerLink]="['/home/doctors']">Doctors</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'patient'">
        <a [routerLink]="['/home/details']">My Details</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'patient'">
        <a [routerLink]="['/home/delegate']">Delegate</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'doctor'">
        <a [routerLink]="['/home/patients']">Patients</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'patient'">
        <a [routerLink]="['/home/activitylog']">Activity Log</a>
      </div>
    </div>
  </div>
</mat-sidenav>