<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login/Sign up</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="card-background-page">

  <ion-grid>
    <ion-row class="hidden-md">
      <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
        <ion-item>
          <ion-label>
            <label style="margin-top: 0px;">Who are you</label>
          </ion-label>
          <ion-select [(ngModel)]="role">
            <ion-option value="doctor">Doctor</ion-option>
            <ion-option value="patient">Patient</ion-option>
            <ion-option value="researcher">Researcher</ion-option>
            <ion-option value="insurance">Insurance</ion-option>
            <ion-option value="buyer">Buyer</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-12 [hidden]="!(role === 'doctor' )">
        <ion-card class="doctor-card">
          <ion-card-header class="card-title">
            Doctors
          </ion-card-header>
          <img src="assets/imgs/doctor.jpg" />
          <div class="card-title"></div>
          <div class="card-subtitle">Healtherium Doctors can sign up/Log in at the doctor's hub and see the patient's
            history</div>
          <ion-row class="text-center">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button (click)="register('doctor')">New Registration</button>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button color="secondary" (click)="login('doctor')">Dashboard</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col col-12 [hidden]="!(role === 'patient')">
        <ion-card>
          <ion-card-header class="card-title">
            Patients
          </ion-card-header>
          <img src="assets/imgs/patient.jpg" />
          <div class="card-subtitle">Patients can create thier free account here and store their medical records on
            blockchain</div>
          <ion-row class="text-center">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button (click)="register('patient')">New Registration</button>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button color="secondary" (click)="login('patient')">Dashboard</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col col-12 [hidden]="!(role === 'researcher')">
        <ion-card class="research-card">
          <ion-card-header class="card-title">
            Researchers
          </ion-card-header>
          <img src="assets/imgs/research.jpg" />
          <div class="card-subtitle">Healthereum acts as global source of clinical & social data of people, which can
            be utilized for clinical and non-clinical research purposes</div>
          <ion-row class="text-center">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button (click)="register('research')">New Registration</button>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button color="secondary" (click)="login('research')">Dashboard</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col col-12 [hidden]="!(role === 'insurance')">
        <ion-card class="insurance-card">
          <ion-card-header class="card-title">
            Insurance
          </ion-card-header>
          <img src="assets/imgs/insurance.jpg" />
          <div class="card-subtitle">Insurance providers can get access to the comprehensive health record of
            individuals at a single pit stop, Healthereum.</div>
          <ion-row class="text-center">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button (click)="register('insurance')">New Registration</button>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button color="secondary" (click)="login('insurance')">Dashboard</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col col-12 [hidden]="!(role === 'buyer')">
          <ion-card class="buyer-card">
            <ion-card-header class="card-title">
              Buyers
            </ion-card-header>
            <img src="assets/imgs/buyer1.jpeg" />
            <div class="card-subtitle">Healthereum acts as a global market place for buyers and sellers to buy/sell
              confidential medical data securely.</div>
            <ion-row class="text-center">
              <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
                <button ion-button (click)="register('buyer')">New Registration</button>
              </ion-col>
              <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
                <button ion-button color="secondary" (click)="login('buyer')">Dashboard</button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row class="hidden-sm">
      <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
        <ion-card class="doctor-card">
          <ion-card-header class="card-title">
            Doctors
          </ion-card-header>
          <img src="assets/imgs/doctor.jpg" />
          <div class="card-title"></div>
          <div class="card-subtitle">Healthereum Doctors can sign up/Log in at the doctor's hub and see the patient's
            history</div>
          <ion-row class="text-center">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button (click)="register('doctor')">New Registration</button>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button color="secondary" (click)="login('doctor')">Dashboard</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
        <ion-card>
          <ion-card-header class="card-title">
            Patients
          </ion-card-header>
          <img src="assets/imgs/patient.jpg" />
          <div class="card-subtitle">Patients can create thier free account here and store their medical records on
            blockchain</div>
          <ion-row class="text-center">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button (click)="register('patient')">New Registration</button>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button color="secondary" (click)="login('patient')">Dashboard</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
        <ion-card class="research-card">
          <ion-card-header class="card-title">
            Researchers
          </ion-card-header>
          <img src="assets/imgs/research.jpg" />
          <div class="card-subtitle">A global source of clinical & social data of people, which can be utilized for clinical and non-clinical research purposes</div>
          <ion-row class="text-center">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button (click)="register('research')">New Registration</button>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button color="secondary" (click)="login('research')">Dashboard</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col offset-md-2 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
        <ion-card class="insurance-card">
          <ion-card-header class="card-title">
            Insurance
          </ion-card-header>
          <img src="assets/imgs/insurance.jpg" />
          <div class="card-subtitle">Insurance providers can get access to the comprehensive health record of
            individuals at a single pit stop, Healthereum.</div>
          <ion-row class="text-center">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button (click)="register('insurance')">New Registration</button>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button color="secondary" (click)="login('insurance')">Dashboard</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4>
        <ion-card class="buyer-card">
          <ion-card-header class="card-title">
            Buyers
          </ion-card-header>
          <img src="assets/imgs/buyer1.jpeg" />
          <div class="card-subtitle">Healthereum acts as a global market place for buyers and sellers to buy/sell
            confidential medical data securely.</div>
          <ion-row class="text-center">
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button (click)="register('buyer')">New Registration</button>
            </ion-col>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
              <button ion-button color="secondary" (click)="login('buyer')">Dashboard</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>