<div>
  <mat-grid-list cols="2" rowHeight="30px" class="section-header">
    <mat-grid-tile class="d-inline-block page-title">
      <h1 class="section-header_left position-absolute section-title">
        Doctors List
      </h1>
    </mat-grid-tile>
    <button mat-button class="btn-health float-right" (click)="openModal({type:'doctorAccess', mode: true})" >Access To Doctor</button>
  </mat-grid-list>
  <div class="row" *ngIf="!doctors || !doctors[0] || doctors.length === 0">
      <div class="col-12 text-center">
          You have not given access to any doctors.
      </div>
  </div>
  <mat-list role="list" *ngIf="doctors && doctors.length > 0">
      <mat-list-item role="listitem" *ngFor="let doctor of doctors">
        <div class="col-6 pl-5">{{doctor.name}}</div>
        <div class="col-6">
          <a class="details-button float-right"  (click)="manageAccess('0x'+doctor.Account, false)">Revoke Access</a>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
  </mat-list>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
