@import "../../../../assets/scss/variables.scss";
.section-title {
    color: $primary-color;
    font-size: 24px;
    margin-left: 34px;
}

.section-header {
    padding-bottom: 60px;
    &_left {
        left: 25px;
    }
    &_right {
        right: 25px;
    }
}

.pl-6 {
    padding-left: 4em !important;
}

.details-button {
    color: #2DCCA5 !important;
    font-size: 15px !important;
}