<h2 mat-dialog-title class="d-inline-block"  *ngIf="data.type == 'visits'">Recent Visits</h2>
<h2 mat-dialog-title class="d-inline-block" *ngIf="data.type == 'observations'">Patient consultation history</h2>
<h2 mat-dialog-title class="d-inline-block" *ngIf="data.type == 'prescriptions'">Prescriptions</h2>
<button mat-button mat-dialog-close class="float-right closebtn">X</button>

<!--patient history-->
<mat-dialog-content class="mat-typography largemodal" *ngIf="data.type == 'visits' || data.type == 'observations' || data.type == 'prescriptions'">
  <div *ngIf="data.type == 'visits'">
      <div class="col-12 text-center" *ngIf="!data.visits || (data.visits && data.visits.length === 0)">
        You have not recently visited the selected provided
      </div>
      <div class="table-responsive" *ngIf="data.visits && data.visits.length > 1">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Start Date</th>
              <th scope="col">Reason</th>
              <th scope="col">Location</th>
              <th scope="col">Consulted with</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let visit of data.visits">
              <td>{{visit.resource.period.start | date: 'medium'}}</td>
              <td>{{visit.resource.reason[0].text}}</td>
              <td>{{visit.resource.location[0].location.display}}</td>
              <td>{{visit.resource.participant && visit.resource.participant.length 
                  && visit.resource.participant[0] && 
                  visit.resource.participant[0].individual && visit.resource.participant[0].individual.display ?
                  visit.resource.participant[0].individual.display.split('(')[0]: (visit.resource.participant && 
                  visit.resource.participant.length && 
                  visit.resource.participant[0].individual && visit.resource.participant[0].individual ? visit.resource.participant[0].individual.reference : '')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div *ngIf="data.type == 'observations'">
      <div class="col-12 text-center" *ngIf="!data.observations || (data.observations && data.observations.length === 0)">
        You do not seem to have any observation history
      </div>
      <div class="table-responsive" *ngIf="data.observations && data.observations.length >= 1">
        <table class="table">
          <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Body Site</th>
                <th scope="col">Specimen</th>
                <th scope="col">Results</th>
                <th scope="col">Comments</th>
                <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obs of data.observations">
               <td>{{obs.resource.category[0].coding[0].display}}</td>
               <td>{{obs.resource.bodySite.coding[0].display}}</td>
               <td>{{obs.resource.specimen.display}}</td>
               <td>{{obs.resource.valueQuantity.value}} {{obs.resource.valueQuantity.unit}}</td>
               <td>{{obs.resource.comment}}</td>
              <td>{{obs.resource.issued  | date: 'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div *ngIf="data.type == 'prescriptions'">
      <div class="col-12 text-center" *ngIf="!data.prescriptions || (data.prescriptions && data.prescriptions.length === 0)">
        You do not seem to have any observation history
      </div>
      <div class="table-responsive" *ngIf="data.prescriptions && data.prescriptions.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Drug Name</th>
              <th scope="col">Dosage</th>
              <th scope="col">Status</th>
              <th scope="col">Prescribed By</th>
              <th scope="col">Prescribed Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prescription of data.prescriptions">
              <td>{{prescription.resource.drugName || prescription.resource.medicationCodeableConcept.text}}</td>
              <td>
                  <span *ngIf="prescription.resource.dosageInstruction.length > 0 && prescription.resource.dosageInstruction[0].dosageInstructionFreeText">
                      {{prescription.resource.dosageInstruction[0].dosageInstructionFreeText}}</span>
                      <p *ngIf="prescription.resource.dosageInstruction && prescription.resource.dosageInstruction.length > 0 && !prescription.resource.dosageInstruction[0].dosageInstructionFreeText && prescription.resource.dispenseRequest">
                        {{prescription.resource.dosageInstruction[0].doseQuantity.value}} {{prescription.resource.dosageInstruction[0].timing.code.coding[0].display}}</p>
              </td>
              <td>{{prescription.resource.status}}</td>
              <td>{{prescription.resource.recorder.name || prescription.resource.requester.agent.reference}}</td>
              <td>{{prescription.resource.authoredOn | date: 'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</mat-dialog-content>
<!--Access To Doctor modal-->
<div class="delegation-modal" *ngIf="data && data.type === 'doctorAccess'">
  <h2 mat-dialog-title class="d-inline-block mhead" *ngIf="data && data.mode === true">Access To Doctor</h2>
  <mat-dialog-content class="mat-typography medium-modal">
    <h3 class="mshead" *ngIf="data && data.mode === true">Grant Access To Doctor</h3>
    <h3 class="mshead" *ngIf="data && data.mode === false">Revoke Access To Doctor</h3>
    <mat-form-field class="col-12 pa-0">
      <input matInput maxlength="200" placeholder="Enter Address" [(ngModel)]="doctor" name="doctor" />
    </mat-form-field>
    <div class="text-center col-12 mt-30">
      <button mat-button color="red" class="btn-health" (click)="delegateDoctor()">
        Go
      </button>
    </div>
  </mat-dialog-content>
</div>

<div class="delegation-modal" *ngIf="data.type ==='qrcode'">
  <h2 mat-dialog-title class="d-inline-block mhead">Generate QR Code</h2>
  <mat-dialog-content class="mat-typography medium-modal">
    <h3 class="mshead">Scan QR Code to delegate</h3>
    <div class="text-center col-12 mv-30 offset-lg-2 offset-md-1" style="padding-left: 4em !important;">
        <qrcode [qrdata]="myAngularxQrCode" [size]="200" [level]="'M'"></qrcode>
    </div>
    <div class="text-center col-12">
      <a class="primarycolor">Generate Again</a>
    </div>
    <div class="col-12 border-bottom ph-0 pb-10 mv-30 text-center">
      <div class="d-inline-block">
        {{this.data.address}}
      </div>
      <a class="copybtn float-right">Copy</a>
    </div>
  </mat-dialog-content>
</div>

<div class="delegation-modal" *ngIf="data && data.type === 'delegation'">
  <h2 mat-dialog-title class="d-inline-block mhead">Delegate User</h2>
  <mat-dialog-content class="mat-typography medium-modal">
    <h3 class="mshead">Delegate a user on behalf of me</h3>
    <mat-form-field class="col-12 pa-0">
      <input matInput maxlength="100" name="ssn" [(ngModel)]="nominee" [value]="nominee" placeholder="Enter enter nominee ssn" />
    </mat-form-field>
    <div class="text-center col-12 mt-30">
      <button mat-button color="red" class="btn-health" (click)="delegate()">
        Go
      </button>
    </div>
  </mat-dialog-content>
</div>

<div class="delegation-modal" *ngIf="data && data.type === 'providers'">
  <h2 mat-dialog-title class="d-inline-block mhead">Providers</h2>
  <mat-dialog-content class="mat-typography medium-modal">
    <mat-form-field class="col-12 pa-0" *ngIf="data.providers && data.providers.length > 1;">
      <h3 class="mshead">Select a provider</h3>
      <mat-select placeholder="Provider" [(value)]="provider">
        <mat-option *ngFor="let p of data.providers" [value]="p">{{p.providerName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-12 pa-0" *ngIf="data.providers && data.providers.length === 1;">
      <input matInput maxlength="10" name="ssn" [(ngModel)]="data.providers[0].providerName" [value]="data.providers[0].providerName"
        placeholder="Provider" readonly />
    </mat-form-field>
    <div class="text-center col-12 mt-30">
      <button mat-button color="red" class="btn-health" (click)="getDemographics()">
        Go
      </button>
    </div>
  </mat-dialog-content>
</div>

<div class="delegation-modal" *ngIf="data && data.type === 'fileupload'">
  <h2 mat-dialog-title class="d-inline-block mhead">Upload Files</h2>
  <mat-dialog-content class="mat-typography medium-modal">
    <div class="col-12 pa-0">
      <h3 class="mshead">Add a file</h3>
      <input type="file" name="file" (change)="onUpload($event.target.files)"
        placeholder="Choose a file" readonly />
    </div>
    <div class="text-center col-12 mt-30">
      <button mat-button color="red" class="btn-health" (click)="uploadFile()">
        Go
      </button>
    </div>
  </mat-dialog-content>
</div>