
<ion-header>

  <ion-navbar>
    <ion-title>
      <div *ngIf="role == 'patient'">Please enter your details</div>
      <div *ngIf="role == 'doctor'">Doctor - Please enter your details</div>
      <div *ngIf="action == 'registration'">Sign Up</div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row>
        <ion-col col-12 *ngIf="(action === 'login') && showOTPform !== true ">
          <form (ngSubmit)="generateOTP()">
              <ion-row>
                <ion-col col-12>
                  <ion-row>
                    <ion-col col-12>User Name</ion-col>
                    <ion-col col-12>
                      <ion-input [(ngModel)]="user.userName" name ="userName" placeholder="User Name"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>Secure Number/Aadhar</ion-col>
                    <ion-col col-12>
                      <ion-input [(ngModel)]="user.ssn" name ="ssn" placeholder="Secure Number/Aadhar"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>Password</ion-col>
                    <ion-col col-12>
                      <ion-input [(ngModel)]="user.password" name ="password" type="password" placeholder="Password"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <button type="submit" ion-button>Log In</button>
                      <button type="button" ion-button (click)="dismiss()">Cancel</button>
                    </ion-col>
                    <ion-col col-12></ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
          </form>
        </ion-col>
        <ion-col col-12 *ngIf="action === 'registration'">
            <label>Please enter the OTP recieved in your registered phone number</label>
            <ion-input [(ngModel)]="otp" name ="otp"  placeholder = "OTP"></ion-input>
            <button ion-button (click)="register()">Verify</button>
        </ion-col>
        <ion-col col-12 *ngIf="action === 'multipleEmr'">
          <label>Please select your provider</label>
          <ion-item>
            <ion-select [(ngModel)]="selected_option">
                <ion-option *ngFor="let x of patientProvider" [value]="{number: x.providerNumber, hospitalName: x.providerName}">{{x.providerName}}</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button (click)="grantedEmrData(selected_option)">Submit</button>
      </ion-col>
        <ion-col col-12 *ngIf="showOTPform === true">
            <label>Please enter the OTP recieved in your registered phone number</label>
            <ion-input [(ngModel)]="otp" name ="otp"  placeholder = "OTP"></ion-input>
            <label>Please select your provider</label>
          <ion-item>
            <ion-select [(ngModel)]="selected_option">
                <ion-option *ngFor="let x of totalProviderList" [value]="{number: x.providerNumber, hospitalName: x.providerName}">{{x.providerName}}</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button (click)="login(selected_option)">Submit</button>
        </ion-col>
      </ion-row>
</ion-content>
