<!-- Generated template for the PrescriptionComponent component -->
<ion-col col-12>
  <ion-card>
    <ion-row>
      <ion-col col-12>
        <ion-row padding margin>
          <ion-header padding>
            <label>Prescriptions</label>
            <button *ngIf="!isDoctor" ion-button color="default" class="pull-right" (click)="getPrescriptions()">View</button>
          </ion-header>
        </ion-row>
        <ion-col col-12 *ngIf="(showPrescriptionsView && (!prescriptions || (prescriptions.length <= 0)))">
          <div style="padding: 10px 16px 0px 16px;">
            No history data available.
          </div>
        </ion-col>
        <ion-col col-12 *ngIf="prescriptions && prescriptions.length > 0">
          <ion-row>
            <ion-col col-2>
              <b>DRUG NAME</b>
            </ion-col>
            <ion-col col-3>
              <b>DOSAGE</b>
            </ion-col>
            <ion-col col-2>
              <b>STATUS</b>
            </ion-col>
            <ion-col col-3>
              <b>PRESCRIBED BY</b>
            </ion-col>
            <ion-col col-2>
              <b>PRESCRIPTION DATE</b>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12 *ngFor="let prescription of prescriptions; let i=index;">
          <ion-row>
            <ion-col col-2>
              {{prescription.drugName}}
            </ion-col>
            <ion-col col-3>
              <div *ngIf="prescription.dosageInstruction.length > 0 && prescription.dosageInstruction[0].dosageInstructionFreeText">
                {{prescription.dosageInstruction[0].dosageInstructionFreeText}}
            </div>
              <div *ngIf="prescription.dosageInstruction && prescription.dosageInstruction.length > 0 && !prescription.dosageInstruction[0].dosageInstructionFreeText && prescription.dispenseRequest">
              {{prescription.dosageInstruction[0].doseQuantity.value}} {{prescription.dosageInstruction[0].doseQuantity.unit}}, {{prescription.dosageInstruction[0].route}}, {{prescription.dosageInstruction[0].timing}}, {{prescription.dispenseRequest.expectedSupplyDuration.value}} {{prescription.dispenseRequest.expectedSupplyDuration.unit}}
            </div>
      </ion-col>

            <ion-col col-2>
              {{prescription.status}}
            </ion-col>
            <ion-col col-3>
              {{prescription.recorder.name}}
            </ion-col>
            <ion-col col-2>
              {{prescription.authoredOn}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-col>
