<!-- Generated template for the DelegationComponent component -->

<ion-col col-6>
  <ion-card>
    <ion-row>
      <ion-col col-12>
        <ion-row padding margin>
          <ion-header padding>
            <label>Handle Delegation</label>
          </ion-header>
        </ion-row>
        <ion-row style="border-bottom: 1px solid lightgrey">
          <ion-col col-xs-6 col-md-4><label>Delegate a user on behalf of me </label></ion-col>
          <ion-col col-xs-6 col-md-4>
            <ion-input style="width: 60%; margin-top: 10px; display: inline-block;" [(ngModel)]="nomineeAdhaar" name="nomineeAdhaar"
              placeholder="User ID" (ionChange)="error=null"></ion-input>
            <button ion-button color="default" class="pull-right" (click)="nominate()">Go</button>
            <div *ngIf="error">{{error}}</div>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: 1px solid lightgrey">
          <ion-col col-xs-6 col-md-4><label>Show users to whom access is given to</label></ion-col>
          <ion-col col-xs-6 col-md-4>
            <button ion-button color="default" class="pull-right" (click)="getDelegationInfo()">Show</button>
          </ion-col>
          <ion-col col-12 *ngIf="nominees && isArray(nominees) && nominees.length && showItem == 'view';else nomineesUnavailable">
            <table style="width: 100%;text-align: center;">
              <thead>
                <th>Name</th>
                <th>Adhaar</th>
                <th>Revoke Access</th>
              </thead>
              <tbody>
                <tr *ngFor="let nominee of nominees; let i=index;">
                  <td>{{nominee.name}}</td>
                  <td>{{nominee.Adhaar}}</td>
                  <td>
                    <button ion-button color="default" (click)="revoke(nominee)">Revoke</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ion-col>
          <ion-col col-12 #nomineesUnavailable *ngIf="(!nominees || (isArray(nominees) && nominees.length == 0)) && showItem == 'view'">
            <div style="padding: 10px 16px 0px 16px;">
              No nominees.
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: 1px solid lightgrey">
          <ion-col col-xs-6 col-md-4><label>Show users who has given access to me</label></ion-col>
          <ion-col col-xs-6 col-md-4>
            <button ion-button color="default" class="pull-right" (click)="getDelegators()">Delegators</button>
          </ion-col>
          <ion-col col-12 *ngIf="nominators && isArray(nominators) && nominators.length && showItem == 'delegator' ;else nominatorUnavailable">
            <table style="width: 100%;text-align: center;">
              <thead>
                <th>Name</th>
                <th>Adhaar</th>
                <th>Grant Access To Doctor</th>
                <th>Revoke Access From Doctor</th>
              </thead>
              <tbody>
                <tr *ngFor="let nominator of nominators; let i=index;">
                  <td>{{nominator.name}}</td>
                  <td>{{nominator.Adhaar}}</td>
                  <td>
                    <ion-input style="width: 70%;display: inline-block;" [(ngModel)]="grantAddress" name="grantAddress" placeholder="Doctor Address"
                      (ionChange)="error=null"></ion-input>
                    <button ion-button color="default" (click)="manageAccess(nominator, true)">Go</button>
                  </td>
                  <td>
                    <ion-input style="width: 70%;display: inline-block;" [(ngModel)]="revokeAddress" name="revokeAddress" placeholder="Doctor Address"
                      (ionChange)="error=null"></ion-input>
                    <button ion-button color="default" (click)="manageAccess(nominator, false)">Go</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ion-col>
          <ion-col col-12 #nominatorUnavailable *ngIf="(!nominators || (isArray(nominators) && nominators.length == 0)) && showItem == 'delegator'">
            <div style="padding: 10px 16px 0px 16px;">
              No one has given access to their profile.
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-col>