// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

input {
    border-bottom: 1px solid lightgray !important;
    margin-left: 0px !important;
}

.pull-right {
    float: right !important;
}

@media screen and (min-width: 992px) {
    .modal-wrapper {
        border-radius: 2px;
        overflow: hidden;
        -webkit-box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
        box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
        height: 400px !important;
        contain: strict;
        width: 50%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%) !important;
        .scroll-content {
            overflow: hidden;
        }
    }
}

label {
    margin-top: 15px;
    display: inline-block;
    font-weight: bold;
}

.toolbar {
    background-color: #ee6e73 !important;
}

html, body {
    user-select: text !important;
}
.ionic-label {color: gray}

@media (min-width:768px) {
    .hidden-md {
        display: none;
    }
}

@media (max-width:768px) {
    .hidden-sm {
        display: none;
    }
}

table {
    tr ,thead{
        border: 1px solid lightgray;
        td, th{
            border: 1px solid lightgray;
        }
    }
}