<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Healthereum</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list-header>
      Navigate
    </ion-list-header>
    <ion-list >
      <button *ngFor="let p of pages" menu-close ion-item (click)="openPage(p)">{{p.title}}</button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
