<div class="row mllayout">
  <div class="col-md-12">
    <div class="page-title">
      <h1>My Schedule</h1>
    </div>
    <div class="detailtable" *ngIf="visits && visits.length > 0">
      <div class="row mt-30 border-bottom ml-0 mr-0">
        <div class="col-9 pl-0">
          <h3 class="dethead">Recent Visits</h3>
        </div>
        <div class="col-3 pr-0">
          <a class="view-btn">View All</a>
        </div>
      </div>
      <div class="row mt-24 detcontenthead">
        <div class="col">
          <p>Start Date</p>
        </div>
        <div class="col">
          <p>Reason</p>
        </div>
        <div class="col">
          <p>Location</p>
        </div>
        <div class="col">
          <p>Consulted with</p>
        </div>
      </div>
      <div class="row detcontent" *ngFor="let visit of visits">
        <div class="col">
          <p>{{visit.resource.period.start | date: 'medium'}}</p>
        </div>
        <div class="col">
          <p>{{visit.resource.reason[0].text}}</p>
        </div>
        <div class="col">
          <p>{{visit.resource.location[0].location.display}}</p>
        </div>
        <div class="col">
          <p>{{visit.resource.participant && visit.resource.participant.length 
            && visit.resource.participant[0] && 
            visit.resource.participant[0].individual && visit.resource.participant[0].individual.display ?
            visit.resource.participant[0].individual.display.split('(')[0]: (visit.resource.participant && 
            visit.resource.participant.length && 
            visit.resource.participant[0].individual && visit.resource.participant[0].individual ? visit.resource.participant[0].individual.reference : '')}}</p>
        </div>
      </div>
    </div>
    <!--observations-->
    <div class="detailtable" *ngIf="observations && observations.length > 0">
      <div class="row mt-30 border-bottom  ml-0 mr-0">
        <div class="col-9 pl-0">
          <h3 class="dethead">Observations</h3>
        </div>
        <div class="col-3 pr-0">
          <a class="view-btn">View All</a>
        </div>
      </div>
      <div class="row mt-24 detcontenthead">
        <div class="col">
          <p>Type</p>
        </div>
        <div class="col">
          <p>Body Site</p>
        </div>
        <div class="col">
          <p>Specimen</p>
        </div>
        <div class="col">
          <p>Results</p>
        </div>
        <div class="col">
          <p>Comments</p>
        </div>
        <div class="col">
          <p>Date</p>
        </div>
      </div>
      <div class="row detcontent" *ngFor="let obs of observations">
        <div class="col">
          <p *ngIf="obs.resource.category && obs.resource.category[0].coding && obs.resource.category[0].coding.length">{{obs.resource.category[0].coding[0].display}}</p>
        </div>
        <div class="col">
          <p *ngIf="obs.resource.bodySite && obs.resource.bodySite.coding[0]"> {{obs.resource.bodySite.coding[0].display}}</p>
        </div>
        <div class="col">
          <p *ngIf="obs.resource.specimen">{{obs.resource.specimen.display}}</p>
        </div>
        <!-- <div class="col">
          <p *ngIf="obs.resource && obs.resource.code && obs.resource.code.coding && obs.resource.code.coding.length">{{obs.resource.code.coding[obs.resource.code.coding.length-1].display}}</p>
        </div> -->
        <div class="col">
            <p>{{obs.resource.valueQuantity.value}} {{obs.resource.valueQuantity.unit}}</p>
          <!-- <p *ngIf="obs.resource && obs.resource.valueCodeableConcept && obs.resource.valueCodeableConcept.coding && obs.resource.valueCodeableConcept.coding.length">{{obs.resource.valueCodeableConcept.coding[obs.resource.valueCodeableConcept.coding.length-1].display}}</p>
          <p *ngIf="obs.resource && obs.resource.valueQuantity">{{obs.resource.valueQuantity.value}} {{obs.resource.valueQuantity.unit}}</p> -->
        </div>
        <div class="col">
          <p>{{obs.resource.comment}}</p>
        </div>
        <div class="col">
          <p>{{obs.resource.issued  | date: 'medium'}}</p>
        </div>
      </div>
    </div>
    <!--Prescriptions-->
    <div class="detailtable" *ngIf="prescriptions && prescriptions.length > 0">
      <div class="row mt-30 border-bottom  ml-0 mr-0">
        <div class="col-9 pl-0">
          <h3 class="dethead">Prescriptions</h3>
        </div>
        <div class="col-3 pr-0">
          <a class="view-btn">View All</a>
        </div>
      </div>
      <div class="row mt-24 detcontenthead">
        <div class="col">
          <p>Drug Name</p>
        </div>
        <div class="col">
          <p>Dosage</p>
        </div>
        <div class="col">
          <p>Status</p>
        </div>
        <div class="col">
          <p>Prescribed By</p>
        </div>
        <div class="col">
          <p>Prescripion Date</p>
        </div>
      </div>
      <div class="row detcontent" *ngFor="let prescription of prescriptions">
        <div class="col">
          <p>{{(prescription.resource.medicationCodeableConcept.coding[prescription.resource.medicationCodeableConcept.coding.length - 1]).display}}</p>
        </div>
        <div class="col">
            <!-- <p *ngIf="prescription.resource.dosageInstruction.length > 0 && prescription.resource.dosageInstruction[0].dosageInstructionFreeText">
                {{prescription.resource.dosageInstruction[0].dosageInstructionFreeText}}</p> -->
              <p *ngIf="prescription.resource.dosageInstruction && prescription.resource.dosageInstruction.length > 0 && !prescription.resource.dosageInstruction[0].dosageInstructionFreeText && prescription.resource.dispenseRequest">
                {{prescription.resource.dosageInstruction[0].doseQuantity.value}} {{prescription.resource.dosageInstruction[0].timing.code.coding[0].display}}</p>
               <!-- <p *ngIf="prescription.resource.dosageInstruction[0].timing && prescription.resource.dosageInstruction[0].timing.code"> ,{{prescription.resource.dosageInstruction[0].timing.code.text}} </p>
          <p *ngIf="prescription.resource.dosageInstruction[0].timing && prescription.resource.dosageInstruction[0].timing.repeat"> ,{{prescription.resource.dosageInstruction[0].timing.repeat.frequency}} </p>
            <p *ngIf="prescription.resource.dispenseRequest.expectedSupplyDuration"> ,{{prescription.resource.dispenseRequest.expectedSupplyDuration.value}}
                {{prescription.resource.dispenseRequest.expectedSupplyDuration.unit}}
              </p> -->
        </div>
        <div class="col">
          <p>{{prescription.resource.status}}</p>
        </div>
        <div class="col">
          <p>{{(prescription.resource.recorder.display)}}</p>
        </div>
        <div class="col">
          <p>{{prescription.resource.authoredOn | date: 'medium'}}</p>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
