html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato", "Helvetica Neue", sans-serif;
}

.primarycolor {
  color: $primary-color !important;
}

.secondarycolor {
  color: $secondary-color !important;
}

.customlink {
  color: $primary-color !important;
  text-decoration: underline !important;
  font-size: 14px;
  font-weight: 400;
}

.page-title h1 {
  color: $primary-color;
  font-size: 24px;
  font-weight: bold;
}

.mat-drawer-container {
  // position: absolute !important;
  // top: 64px;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

.mllayout {
  margin-left: 4% !important;
}

.active {
  color: $primary-color !important;
  font-weight: bold;
}

.bg-rowtable {
  background: #f7f6ff;
  border-radius: 4px;
}

.cdk-overlay-pane {
  width: auto;
  max-width: auto !important;
}
button:focus {
  outline: none !important;
}
.closebtn.mat-button:hover .mat-button-focus-overlay,
.closebtn.mat-stroked-button:hover .mat-button-focus-overlay,
.closebtn.mat-button .mat-button-focus-overlay {
  background: transparent;
}

.userdata {
  font-weight: bold;
}

.mat-drawer-content {
  height: 90.5vh !important;
}
