<ion-content>
  <ion-list *ngIf="count > 0">
    <ion-item text-wrap *ngFor="let notification of notifications">
      <p>{{notification.message}}</p>
      <p align="right">{{notification.createdOn | date:'medium'}}</p>
    </ion-item>
  </ion-list>
  <ion-item  *ngIf="count === 0" align-items-center> No new notifications</ion-item>
</ion-content>

