<!--
  Generated template for the PatientDashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Patient Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6>
      <ion-card style="min-height: 370px;">
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label no-margin>Patient Profile</label>
              </ion-header>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">First name</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.name[0].given[0]}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Family name</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.name[0].family}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Gender</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.gender}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Date of Birth</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.birthDate}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Address Line 1</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].line[0]}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Address Line 2</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].line[1]}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">City</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].city}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">State</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].state}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Area Code</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].postalCode}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 col-md-6 class="ionic-label">Country</ion-col>
              <ion-col col-12 col-md-6>{{clinicalData.emrData.address[0].country}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label>Get Patient Files</label>
                <button ion-button color="default" class="pull-right" (click)="getFile()">Get Files</button>
              </ion-header>
            </ion-row>
            <!-- <ion-row>
                    <ion-col col-12>
                      <button ion-button color="dark">Get all files</button>
                    </ion-col>
                    <ion-col col-12></ion-col>
                  </ion-row> -->
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-12 col-sm-9 col-md-6 col-lg-6 col-xl-6>
      <ion-card>
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label>Give Access To Doctor</label>
                <button ion-button color="default" class="pull-right" (click)="scanQRCode(true)">Scan Code</button>
              </ion-header>
            </ion-row>
            <ion-row>
              <ion-col col-12 padding>
                <ion-input [(ngModel)]="scannedAddress"></ion-input>
                <button *ngIf="scannedAddress" ion-button color="default" (click)="manageAccess(true)">Give Access</button>
              </ion-col>
              <ion-col col-12></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label>Revoke Access From</label>
                <button ion-button color="default" class="pull-right" (click)="scanQRCode(false)">Scan Code</button>
              </ion-header>
            </ion-row>
            <ion-row>
              <ion-col col-12 padding>
                <ion-input [(ngModel)]="addressToRevoke"></ion-input>
                <button *ngIf="addressToRevoke" ion-button color="default" (click)="manageAccess(false)">Revoke Access</button>
              </ion-col>
              <ion-col col-12></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label no-margin>Add Patient Files</label>
              </ion-header>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <input type="file" (change)="handleFileInput($event.target.files)" style="margin-top: 15px; width: 70%;" />
                <button ion-button color="default" class="pull-right" (click)="uploadFile()">Upload</button>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
                  <ion-col col-12>
                    <button ion-button color="dark">Add File</button>
                  </ion-col>
                  <ion-col col-12></ion-col>
                </ion-row> -->
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-12>
      <ion-card>
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label>Get Recent Visits</label>
                <button ion-button color="default" class="pull-right" (click)="getVisits()">Get Visits</button>
              </ion-header>
            </ion-row>
            <ion-row *ngIf="visitsInfoFetched" padding>
              <ion-col col-12 *ngIf="!visited;else visits">
                <div style="padding-top: 10px;">
                  No records available on the patient visits.
                </div>
              </ion-col>
              <ng-template #visits>
                <ion-col col-3>
                  <b>Start Date</b>
                </ion-col>
                <ion-col col-3>
                  <b>End Date</b>
                </ion-col>
                <ion-col col-3>
                  <b>Location</b>
                </ion-col>
                <ion-col col-3>
                  <b>Consulted with:</b>
                </ion-col>
                <ion-row padding *ngFor="let visit of visitList; let i=index" style="border-bottom: 1px solid lightgray; padding-bottom:5px; width: 100%;">
                  <ion-col col-3>
                    {{visit.period.start}}
                  </ion-col>
                  <ion-col col-3>
                    {{visit.period.end}}
                  </ion-col>
                  <ion-col col-3>
                    {{visit.location[0].location.display}}
                  </ion-col>
                  <ion-col col-3>
                    {{visit.participant && visit.participant.length ? visit.participant[0].individual.display.split('(')[0]: ''}}
                  </ion-col>
                </ion-row>
              </ng-template>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-12>
      <ion-card>
        <ion-row>
          <ion-col col-12>
            <ion-row padding margin>
              <ion-header padding>
                <label>Get Patient Observations</label>
                <button ion-button color="default" class="pull-right" (click)="getObservations()">History</button>
              </ion-header>
            </ion-row>
            <ion-col col-12 *ngIf="showDetails && (!observationDetails || !(observationDetails.length > 0))">
              <div style="padding: 10px 16px 0px 16px;">
                No history data available.
              </div>
            </ion-col>
            <ion-col col-12 *ngIf="observationDetails && observationDetails.length > 0">
              <ion-row>
                <ion-col col-2>
                  <b>ACTIVITY</b>
                </ion-col>
                <ion-col col-3>
                  <b>ANALYSIS</b>
                </ion-col>
                <ion-col col-2>
                  <b>RESULTS</b>
                </ion-col>
                <ion-col col-3>
                  <b>COMMENTS</b>
                </ion-col>
                <ion-col col-2>
                  <b>DATE</b>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-12 *ngFor="let obs of observationDetails; let i=index;">
              <ion-row>
                <ion-col col-2>
                  {{obs.resource.resourceType}}
                </ion-col>
                <ion-col col-3>
                  <div *ngIf="obs.resource && obs.resource.code && obs.resource.code.coding && obs.resource.code.coding.length">
                    <ion-col col-12>
                      {{obs.resource.code.coding[obs.resource.code.coding.length-1].display}}
                    </ion-col>
                  </div>
                </ion-col>
                <ion-col col-2>
                  <div *ngIf="obs.resource && obs.resource.valueCodeableConcept && obs.resource.valueCodeableConcept.coding && obs.resource.valueCodeableConcept.coding.length">
                    <ion-col col-12>
                      {{obs.resource.valueCodeableConcept.coding[obs.resource.valueCodeableConcept.coding.length-1].display}}
                    </ion-col>
                  </div>
                  <div *ngIf="obs.resource && obs.resource.valueQuantity">
                    <ion-col col-12>
                      {{obs.resource.valueQuantity.value}} {{obs.resource.valueQuantity.unit}}
                    </ion-col>
                  </div>
                </ion-col>
                <ion-col col-3>
                  <div>{{obs.resource.comment}}</div>
                </ion-col>
                <ion-col col-2>
                  <div>{{obs.resource.effectiveDateTime}}</div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
  <delegation [user]="credentials" [userInfo]="user" [isProvider]="false"></delegation>
  <prescription [userDetails] = "clinicalData" [isDoctor]="false" [selectedEmr] = "selectedEmr"></prescription>
</ion-content>
