<!--
  Generated template for the PatientSignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{userType.toUpperCase()}} REGISTRATION</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background: none transparent;">
  <ion-row>
    <ion-col col-12>
      <form (ngSubmit)="submitInfo()">
        <ion-card>
          <ion-row>
            <ion-col col-12>
              <ion-row padding margin>
                <ion-header padding>{{userType.toUpperCase()}} PROFILE</ion-header>
              </ion-row>
              <ion-row>
                  <ion-col col-12>User name</ion-col>
                  <ion-col col-12>
                    <ion-input [(ngModel)]="user.userName" name ="userName" placeholder="User name"></ion-input>
                  </ion-col>
                </ion-row>
              <ion-row>
                <ion-col col-12>First name</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.firstName" name="firstName" placeholder="First name"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Family name</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.familyName" name="familyName" placeholder="Family name"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Gender</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.gender" name="gender" placeholder="Gender"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Date of Birth (YYYY-MM-DD)</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.dob" name="dob" placeholder="Date of Birth"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Address Line 1</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.addressLine1" name="addressLine1" placeholder="Address Line 1"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Address Line 2</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.addressLine2" name="addressLine2" placeholder="Address Line 2"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="userType === 'doctor'">
                <ion-col col-12>Department</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.department" name ="department" placeholder="Department"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="userType === 'doctor'">
                <ion-col col-12>Hospital</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.hospital" name ="hospital" placeholder="Hospital"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-12>Phone Number</ion-col>
                  <ion-col col-12>
                    <ion-input [(ngModel)]="user.phoneNumber" name ="phoneNumber" placeholder="Contact Address"></ion-input>
                  </ion-col>
                </ion-row>
              <ion-row>
                <ion-col col-12>City</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.city" name="city" placeholder="City"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>State</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.state" name="state" placeholder="State"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Area Code</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.areaCode" name="areaCode" placeholder="Area Code"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Country</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.country" name="country" placeholder="Country"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Secure Number/Aadhar</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.ssn" name="ssn" placeholder="Secure Number/Aadhar"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Password</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.password" name="password" type="password" placeholder="Password"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Provider</ion-col>
                <ion-col col-12>
                  <ion-select [(ngModel)]="selectedProvider" name="provider">
                    <ion-option *ngFor="let provider of providerList" [value]="provider">{{provider.providerName}}</ion-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>Emr Number</ion-col>
                <ion-col col-12>
                  <ion-input [(ngModel)]="user.emrNumber" name="emrnumber" placeholder="Emr Number"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <button type="submit" ion-button>Sign Up</button>
                </ion-col>
                <ion-col col-12></ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
